<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head%}{% endblock %}</title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
    <div class="app">
        <h1><img src="/static/logo.png" alt=""></h1>
        <!-- flash messages -->
        <section class="messages">
            {% with messages = get_flashed_messages(with_categories=true)%}
                {%for category,msg in messages%}
                    <h3 class="flash {{category}}">{{msg}}</h3>
                {% endfor %}
            {% endwith %}
        </section>
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>
</body>
</html>